
      <div class="sidebar_right">

      {{ widgets('aside_top') }}
     
      {% setcontent about="pages/about" %}
    {% if about.title is defined %}
      <div class="about"><h3>About</h3>
      {{ about.teaser }}
      <a href="{{ about.link }}">Read more...</a>
      <p></p>
      </div>
    {% else %}
      <div class="about"><h3>{{  __('Alas, no about!') }}</h3>
        {{ __("If there was a Page with 'about' for a slug, it would've been shown here. But there isn't one, so that's why you're seeing this placeholder.") }}
      </div>
      <p></p>
    {% endif %}
      <div class="sidebarmenu">
      <h3>Latest Content</h3>
      {% setcontent records="entries/latest/6" %}
      <ul class="sidebar_menu" style="margin:0">
        {% for record in records %}
        <li><a href="{{ record.link }}">{{ record.title }}</a></li>
        {% endfor %}
      </ul>
      </div>
      
      </div><!-- end sidebar right -->

      {{ widgets('aside_bottom') }}
   
      <div style="clear:both; height: 40px"></div>
      
      </div><!-- end container -->
