
    <div id="footer">

    <!-- First Column -->

    <div class="one-fourth">
        <h3>Useful Links</h3>
            <ul class="footer_links">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Ellem Ciet</a></li>
                <li><a href="#">Currivitas</a></li>
                <li><a href="#">Salim Aritu</a></li>
            </ul>
    </div>
    
    <!-- Second Column -->
    
    <div class="one-fourth">
        <h3>Terms</h3>
            <ul class="footer_links">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Ellem Ciet</a></li>
                <li><a href="#">Currivitas</a></li>
                <li><a href="#">Salim Aritu</a></li>
            </ul>
    </div>
    
    <!-- Third Column -->
    
    <div class="one-fourth">
        <h3>Information</h3>
        {% if theme.information %}{{theme.information}}{% endif %}
        
        <div id="social_icons">
        Theme by <a href="http://www.csstemplateheaven.com">CssTemplateHeaven</a><br /> Photos © <a href="http://dieterschneider.net" title="Dieter Schneider Photography">Dieter Schneider</a>
        </div>
        
    </div>
    
    <!-- Fourth Column -->
    
    <div class="one-fourth last">
        <h3>Socialize</h3>
    	{%if theme.facebook %}<a href="{{theme.facebook}}"><img src="{{paths.theme}}img/icon_fb.png" alt="Facebook"></a>{% endif %}
        {%if theme.twitter %} <a href="{{theme.twitter}}"><img src="{{paths.theme}}img/icon_twitter.png" alt="Twitter"></a>{% endif %}
        {% if theme.linkedin %}<a href="{{theme.linkedid}}"><img src="{{paths.theme}}img/icon_in.png" alt="Facebook"></a>{% endif %}
    </div>

    <div style="clear:both"></div>
    
    </div> <!-- END footer -->

</body>
</html>
