{% include '_header.twig' %}

    <div id="container">

	{% include '_slider.twig' %}

    <div style="clear:both"></div>
    {% setcontent content="entries/latest/3" %} 
    {% for stuff in content %}
    
    <div class="one-third">
      <h2>{{ stuff.title }}</h2>
      <p>{{ stuff.teaser }}</p>
      <p style="text-align:right; margin-right: 15px"><a href="{{ stuff.link }}" class="button_small">Find out more</a></p>
    </div>
     {% endfor %}
    
    
        <div style="clear:both"></div>
        <div class="box_highlight" style="margin-top:40px"><h2 style="text-align:center">{% if theme.slogan %}{{ theme.slogan }}{% else %}Add a slogan to config.yml to display it here{% endif %}</h2></div>
    
    <div class="one-half">
    
    {% setcontent about="page/about" %}
    
      {% if about.title is defined %}
        <div class="heading_bg"><h2>{{ about.title }}</h2></div>
        
    
    
        <blockquote>{{ about.teaser }}
    </blockquote>
    <p style="text-align:right; margin-right: 16px; margin-bottom: 15px"><a href="{{ about.link }}" class="button" style="font-size: 18px">Find out more</a></p>
    
      {% else %}
         <div cxlass="heading_bg"><h2>{{  __('Alas, no about!') }}</h2></div>
         <blockquote>
             {{ __("If there was a Page with 'about' for a slug, it would've been shown here. But there isn't one, so that's why you're seeing this placeholder.") }}
         </blockquote>
      {% endif %}

    <div class="heading_bg"><h2>Video</h2></div>
    {% if theme.video %} 
    <iframe src="{{ theme.video }}" width="465" height="262" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    {% else %}
      If you add a video link to video: in the config.yml it will display here
    {% endif %}
    </div>
    
    
    <div class="one-half last">
    
         <div class="heading_bg"><h2>Contact us today!</h2></div>

         Contact form goes here...
    
    
    </div>


    <div style="clear:both; height: 40px"></div>
    </div>

    <!-- END container -->

{% include '_footer.twig' %}
